// Fonts
$primary-serif: 'Roboto', sans-serif;
$primary-sans: 'Helvetica', 'Arial', sans-serif;

// Header
$header-height: 87px;

// Colors
$white: #fff;
$black: #000;
$concrete: #f2f2f2;
$light-gray: #d2d2d2;
$coral-red: #f23e3d;
$fire-engine-red: #d91c27;
$united-nations-blue: #538af2;
$big-stone: #142840;
$twitter: #5ea9dd;
