.candidates
{
	display: table;

	body
	{
		background: #fff;
		color: #fff;
		line-height: 22px;
	}

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6
	{
		font-weight: 600;
		color: #2d2d3d;
	}

	h1
	{
		font-weight: 700;
		font-size: 50px;
		color: whitesmoke;
	}

	h2{
		font-size: 20px;
		color: #fff; 

	}

	h3
	{
		font-size: 16px;
		color: #4f4f4f;
		font-weight: 400;
		line-height: 24px;
	}

	.republican{
		.issues{
			h3{
				font-size: 16px;
				color: #001f3f;
				font-weight: 400;
				line-height: 24px;	
			}
		}
	}
	
	h4
	{
		font-size: 16px;
	}

	// Source: http://codepen.io/pcridesagain/pen/GweAj
	.us-flag{
		left: -250px;
		top: 10%;
		margin-left: 50%;
		position: absolute;
		display: block;
		width: 500px;
		height: 20px;
		background: #cc0000;
		box-shadow: 0 20px 0 #f3f3f3, 0 40px 0 #cc0000, 0 60px 0 #f3f3f3, 0 80px 0 #cc0000, 0 100px 0 #f3f3f3, 0 120px 0 #cc0000, 0 140px 0 #f3f3f3, 0 160px 0 #cc0000, 0 180px 0 #f3f3f3, 0 200px 0 #cc0000, 0 220px 0 #f3f3f3, 0 240px 0 #cc0000;
	}

	.us-flag:before{
		content: "\0020";
		background: #191b6d;
		display: block;
		width: 200px;
		height: 140px;
		position: absolute;
	}
	.us-flag:after{
		content: "\2605";
		font-size: 14px;
		color: #f3f3f3;
		text-style: none;
		display: block;
		width: 500px;
		position: absolute;
		margin: 5px;
		text-shadow: 35px 0 0 #f3f3f3, 70px 0 0 #f3f3f3, 105px 0 0 #f3f3f3, 140px 0 0 #f3f3f3, 175px 0 0 #f3f3f3, 17px 14px 0 #f3f3f3, 52px 14px 0 #f3f3f3,   87px 14px 0 #f3f3f3,  122px 14px 0 #f3f3f3, 157px 14px 0 #f3f3f3, 0 28px 0 #f3f3f3, 35px 28px 0 #f3f3f3, 70px 28px 0 #f3f3f3, 105px 28px 0 #f3f3f3, 140px 28px 0 #f3f3f3, 175px 28px 0 #f3f3f3, 17px 42px 0 #f3f3f3, 52px 42px 0 #f3f3f3,   87px 42px 0 #f3f3f3,  122px 42px 0 #f3f3f3, 157px 42px 0 #f3f3f3, 0 56px 0 #f3f3f3, 35px 56px 0 #f3f3f3, 70px 56px 0 #f3f3f3, 105px 56px 0 #f3f3f3, 140px 56px 0 #f3f3f3, 175px 56px 0 #f3f3f3,    17px 70px 0 #f3f3f3, 52px 70px 0 #f3f3f3,   87px 70px 0 #f3f3f3,  122px 70px 0 #f3f3f3, 157px 70px 0 #f3f3f3, 0 84px 0 #f3f3f3, 35px 84px 0 #f3f3f3, 70px 84px 0 #f3f3f3, 105px 84px 0 #f3f3f3, 140px 84px 0 #f3f3f3, 175px 84px 0 #f3f3f3, 17px 98px 0 #f3f3f3, 52px 98px 0 #f3f3f3,   87px 98px 0 #f3f3f3,  122px 98px 0 #f3f3f3, 157px 98px 0 #f3f3f3, 0 112px 0 #f3f3f3, 35px 112px 0 #f3f3f3, 70px 112px 0 #f3f3f3, 105px 112px 0 #f3f3f3, 140px 112px 0 #f3f3f3, 175px 112px 0 #f3f3f3;
	}

	#coverphoto
	{
		@include clearfix;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		min-height: 500px;

		.overlay
		{
			background: rgba(0, 0, 0, 0.25);
    		box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.48);
    		border-bottom: 1px solid rgba(0, 0, 0, 0.39);
		}
	}

	#cand-overview
	{
		@include inline-block;
		background: rgba(13, 31, 95, 0.50);
		border: 5px solid rgba(0, 0, 0, 0.2);
		padding: 25px;
		min-width: 290px;

		h1,
		h2
		{
			margin: 0;
			padding: 0;
		}

		h2
		{
			margin: 5px 0;
		}

		.button-bar
		{
			.btn
			{
				margin: 5px;
				font-weight: bold;
			}
		}

		ul.social-bar
		{
			list-style-type: none;
			margin: 15px 0 10px 0;

			li
			{
				@include inline-block;
				margin: 0 5px;
			}

			li a 
			{
				@include border-radius(5px);
				display: block;
			    background: $white;
			    height: 30px;
			    line-height: 30px;
			    width: 30px;
			    font-size: 16pt;
			    color: #538af2;
			}

			li a:hover
			{
				color: #7ea7f5;
			}

			li a:focus
		    {
		    	@include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.3));
		    }
		}
	}
    
    section#about
    {
		@include filter-gradient(#1f1e1e, #353433, vertical); // IE6-9
		@include background-image(linear-gradient(top, #1f1e1e 0%,#353433 43%));
		background-color: #1f1e1e; // Old browsers
		border-top: 3px solid rgba(0, 0, 0, 0.75);
		border-bottom: 3px solid rgba(0, 0, 0, 0.75);

		h1
		{
			@include inline-block;
			font-size: 32pt;
			text-shadow: 0 1px 0 $black;
			border-bottom: 3px solid rgba(0, 0, 0, 0.20);
			padding-bottom: 10px;
		}

		p
		{
			font-size: 16pt;
			margin: 10px 0 0 0;
			color: rgb(179, 178, 178);
		}

		&.democrat
		{

		}

		&.republican
		{

		}

		#cand-info .info-section
		{
			@include border-radius(5px);
			background: $white;
			padding: 20px;
			margin-bottom: 10px;
		}

		#cand-info .info-section h2
		{
			color: $black;
			font-size: 20pt;
			margin: 0 0 10px 0;
			padding: 0 0 8px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.07)
		}

		#cand-info .info-section ul
		{
			margin: 0;
			padding: 0 20px;
			list-style-type: square;
			font-size: 13pt;
		}

		#cand-info .info-section ul li
		{
			margin: 0 0 10px 0;

			&:last-child
			{
				margin: 0;
			}
		}
    }

	#on-the-issues{
		@include clearfix;
		padding-bottom: 40px;

		.section-heading
		{
			padding: 20px 0;
			text-align: center;

			h1
			{
				@include inline-block;
				font-size: 32pt;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
				border-bottom: 3px solid rgba(0, 0, 0, 0.20);
				padding-bottom: 10px;
			}

			p
			{
				font-size: 16pt;
				margin: 10px 0 0 0;
				color: rgba(0,0,0,.75);
			}
		}

		&.republican
		{
			background: #bb0f19;

			.issue-icon i,
			.issue-content a.toggle
			{
				color: #e81e2b;
			}				
		}

		&.democrat 
		{
			background: #5bc0de;

			.issue-icon i,
			.issue-content a.toggle 
			{
				color: #217695;
			}	
		}
	}
		
	ul.issues
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	ul.issues li
	{
		@include border-radius(5px);
		width: 49%;
		min-height: 125px;
		margin: 0 0 15px 0;
	}

	ul.issues li:nth-child(odd)
	{
		float: left;
	}

	ul.issues li:nth-child(even)
	{
		float: right;
	}

	.issue
	{
		@include clearfix;
		@include transition(0.3s);
		display: table;
		height: 140px;
		background: $white;
		padding-right: 15px;

		&:hover
		{
			background: rgb(249, 249, 249);
		}

		.issue-content
		{
    		display: table-cell;
    		vertical-align: middle;
		}

		.issue-content h2
		{
			color: black;
			margin: 0;
			padding: 0;
			font-size: 18pt;
		}

		.issue-content p
		{
			margin: 0;
			padding: 0;
		    color: rgb(88, 87, 87);
		    font-size: 13pt;
		    //display: none;
		}

		.issue-content a.toggle
		{
			font-size: 12pt;
		}

		.issue-icon
		{
			display: table-cell;
    		vertical-align: middle;
    		text-align: center;
    		width: 100px;
		}

		.issue-icon i 
		{			
			font-size: 48px;
		}
	}

	@include breakpoint(max-width 1249px) {
		.issue 
		{
			height: 170px;
		}
	}

	@include breakpoint(max-width 999px) {
		.issue 
		{
			height: 210px;
		}
	}

	@include breakpoint(max-width 899px) {
		.issue 
		{
			height: 260px;
		}
	}

	@include breakpoint(max-width 799px) {
		ul.issues li
		{
			width: 100%;
			float: none !important;
		}
	}

	.speeches
	{
		padding: 0;
	}

	.speech-spacing
	{
		color: #217695;
		float: left;
		margin: 0;
		text-align: center;

	}

	#speeches-debates{
		h2{
			font-size: 25px;
			font-weight: 700;
		}
	}

	.shade-photo
	{
		background-color: rgba(0, 0, 0, .5);
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-size: cover;
		width: 100%;
		height: 700px;
	}

	#footerphoto .bg-photo
	{
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 700px;
		display: block;
	}


}
