.candidates
{
	display: table;

	body
	{
		background: #fff;
		color: #fff;
		line-height: 22px;
	}

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6
	{
		font-weight: 600;
		color: #2d2d3d;
	}

	h1
	{
		font-weight: 700;
		font-size: 50px;
		color: whitesmoke;
	}

	h2{
		font-size: 20px;
		color: #fff; 

	}


	#on-the-issues{
		.container{
			.center{
				h2{
					font-size: 35px;
					font-weight: 700;
					color: whitesmoke;
					margin-top: 5px;
					margin-bottom: 10px;
				}
			}
		}	
	}
		
	h3
	{
		font-size: 16px;
		color: #4f4f4f;
		font-weight: 400;
		line-height: 24px;
	}

	h4
	{
		font-size: 16px;
	}


	body > section
	{
		padding: 90px 0;
	}

	.center
	{
		text-align: center;
		margin-top: 5%;
    }

	.left
	{
		text-align: left;
	}

	.right
	{
		text-align: right;
	}

	#coverphoto .bg-photo
	{
		padding: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 80vh;
		display: block;
	}
    
	#on-the-issues
    {
		position: relative;
    }
    
	#about.democrat
	{
		position: relative;
		background: #f7f7f7;
		padding-bottom: 40px;
		
		h2{
			color:#5bc0de;
			font-size: 35px;
			font-weight: 700;
		}
		

	}

	#about.republican{
		position: relative;
		background: #f7f7f7;
		padding-bottom: 40px;
		
		h2{
			color: #e03838;
			font-size: 35px;
			font-weight: 700;
		}
	}
	
    
	.democrat
	{
		background: #5bc0de;
		padding-bottom: 40px;
		text-shadow: none;
	}

	.republican
	{
		background: #e03838;
		padding-bottom: 40px;
	}

	.issues
	{
		padding: 0;
	}

	.issue-spacing i
	{
		@include border-radius(100%);
		background: #ffffff none repeat scroll 0 0;
		border: 3px solid #ffffff;
		color: #217695;
		float: left;
		font-size: 48px;
		height: 110px;
		line-height: 110px;
		margin: 3px 25px 3px 3px;
		text-align: center;
		width: 110px;
	}

	.issue-spacing .h2
	{
		margin-top: 15px;
	}

	.float-down
	{
		margin-top: 20px;
	}

	.float-up
	{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.speeches
	{
		padding: 0;
	}

	.speech-spacing
	{
		color: #217695;
		float: left;
		margin: 0;
		text-align: center;

	}

	#speeches-debates{
		h2{
			font-size: 25px;
			font-weight: 700;
		}
	}

	.shade-photo
	{
		background-color: rgba(0, 0, 0, .5);
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-size: cover;
		width: 100%;
		height: 700px;
	}

	#footerphoto .bg-photo
	{
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 700px;
		display: block;
	}


}
