.pages#home
{
	section h1
	{
		@include text-shadow(0 2px 0 $black);
		@include inline-block;
		border-bottom: 3px solid rgba(0, 0, 0, .37);
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 48pt;
	}

	.float-down
	{
		margin-top: 40px;
	}

	.center
	{
		text-align: center;
	}

	.button-bar
	{
		margin: 20px 0;

		.btn
		{
			@include inline-block;
			margin: 0 15px 0 0;
			font-size: 14pt;
		}
	}

	section#coverphoto
	{
		@include background-image(image-url('coverRush.jpg'));
		@include box-shadow(inset 0 0 5px $black);
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 1px solid rgba(0, 0, 0, .4);

		h1 
		{
			i
			{
				color: #e2282f;	
			}

			span
			{
				color: #0095ff;
			}
		}

		p
		{
			color: #d5d5d5;
			font-size: 18pt;

			b
			{
				color: $white;
			}
		}

		.cover-shade
		{
			@include box-shadow(0 1px 2px 1px #000 inset);
			@include border-radius(5px);
			border: 2px solid rgba(0, 0, 0, .5);
			color: #fff;
			background-color: rgba(0, 0, 0, .6);
			padding: 15px;
			margin-left: auto;
			margin-right: auto;
			background-size: cover;
			width: 100%;
			height: 500px;
		}
	}

	section#voting-turnout
	{
		@include box-shadow(inset 0 1px 1px 1px rgba(0, 0, 0, 0.3));
		background-color: #bb0f19;
		border-top: 3px solid rgba(0, 0, 0, 0.5);

		h1
		{
			color: $white;

			i
			{
				color: #272E35;
			}
		}

		.overlay
		{
			background-size: $grid-size $grid-size;    
			background-image:repeating-linear-gradient(0deg, $grid-color, $grid-color 1px, transparent 1px, transparent $grid-size),repeating-linear-gradient(-90deg, $grid-color, $grid-color 1px, transparent 1px, transparent $grid-size);
		}

		.wrapper
		{
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.graph
		{
			@include border-radius(5px);
			background: $white;
			padding: 20px;
			margin: 15px 0;
		}
	}

	#reasons
	{
		background: #fff;
	}

	.small-container
	{
		@include border-radius(4px);
		padding: 40px 30px;
		background: #fff;
		margin: 0 0 40px;
	}

	#slit-bg .slit-photo
	{

		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 50px;
		display: block;
	}

	.shade-photo
	{
		background-color: rgba(0, 0, 0, .5);
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-size: cover;
		width: 100%;
		height: 50px;
	}

	.carousel-inner
	{
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 1200px;
		display: block;
	}

	.item
	{
		width: 100%;
		background-size: cover;
	}
}
