.pages#home
{
	display: table;

	section#learn-more
	{
		@include background-image(image-url('usaflag.png'));
		@include background-size(cover);
		display: table-row;
		height: 100%;

		.overlay 
		{
			@include box-shadow(inset 0 1px 5px $black);
			background-color: rgba(20, 40, 64, .75);
			border-top: 1px solid $light-gray;
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	p
	{
		text-align: left;
	}

	.panel 
	{
		font-size: 14px;

		.panel-heading
		{
			font-size: 18pt;
			background-color: $light-gray;
			padding-top: 12px;
			padding-bottom: 12px;
			margin: 0;
		}

		.btn 
		{
			margin: 5px 8px 0 0;
		}
	}
}
