// scss-lint:disable all

.page#map {
    path#jqvmap1_co
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_co:hover
    {
        fill: rgb(129, 129, 129);
    }

    path#jqvmap1_ca
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ca:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ct
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ct:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_dc
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_dc:hover
    {
    fill: rgb(129, 129, 129);
    }

    path#jqvmap1_de
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_de:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ky
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_hi
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_hi:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ky:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mo
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mo:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mt
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mt:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mn
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mn:hover
    {
        fill: rgb(129, 129, 129);
    }

    path#jqvmap1_nh
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_nh:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ny
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ny:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_or
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_or:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_pa
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_pa:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_wa
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }
    
    path#jqvmap1_ri
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }

    path#jqvmap1_ri:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_wa:hover
    {
        fill: rgb(129, 129, 129);
    }
    path#jqvmap1_wv{
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }

    path#jqvmap1_wv:hover
    {
        fill: rgb(129, 129, 129);
    }
    path#jqvmap1_va{
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_va:hover{
        fill: rgb(129, 129, 129);
    }
    path#jqvmap1_vt{
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_vt:hover{
        fill: rgb(129, 129, 129);
    }

    #Bernie{
        float: left;
        margin-left: 180px;
    }

    #Donald{
        float: left;
        margin-left: 30px;
    }

    #Hilary{
        float: left;
        margin-left: 30px;
    }

    #Jeb{
        float: left;
        margin-left: 15px;
    }

    #Rand{
        float: left;
        margin-left: -38px;
    }

    #Chris{
        float: left;
        margin-left: -90px;

    }
}
