// scss-lint:disable all

.pages#map {
    path#jqvmap1_co
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_co:hover
    {
        fill: rgb(129, 129, 129);
    }

    path#jqvmap1_ca
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ca:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ct
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ct:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_dc
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_dc:hover
    {
    fill: rgb(129, 129, 129);
    }

    path#jqvmap1_de
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_de:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ky
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_hi
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_hi:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_ky:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mi
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }
    
    path#jqvmap1_mi:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mo
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mo:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mt
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mt:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_mn
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_mn:hover
    {
        fill: rgb(129, 129, 129);
    }

    path#jqvmap1_nc
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(102,51,153);
    }

    path#jqvmap1_nc:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_nh
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_nh:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_nm
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(102,51,153);
    }
    
    path#jqvmap1_nm:hover
    {
        fill: rgb(129, 129, 129);
    }    

    path#jqvmap1_ny
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_ny:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_or
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_or:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_pa
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_pa:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_wa
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }
    
    path#jqvmap1_ri
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }

    path#jqvmap1_ri:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    path#jqvmap1_wa:hover
    {
        fill: rgb(129, 129, 129);
    }
    path#jqvmap1_wv{
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0, 52, 107);
    }

    path#jqvmap1_wv:hover
    {
        fill: rgb(129, 129, 129);
    }
    path#jqvmap1_va
    {
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_va:hover
    {
        fill: rgb(129, 129, 129);
    }

    path#jqvmap1_vt{
        stroke: rgb(129, 129, 129);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: .25;
        fill: rgb(0,52,107);
    }

    path#jqvmap1_vt:hover
    {
        fill: rgb(129, 129, 129);
    }
    
    .col-md-2
    {
        text-align: center;

    }   
     
    #box{ 
        height: 70%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
}
    }

    #footer
    {
        background-color: #AAAAAA;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 160px;
        
    }
    
    #slider{
        height: 160px;
        width: 90%;
    }
    

    @include breakpoint(max-width 1920px){
        .col-md-2 img{
            width: 70%;
            margin: 0;
        }
    }
