.pages#resources
{
	$box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
	$margin-top-cards: 2%;
    $whitesmoke: #F5F5F5;
    @mixin 	i{
				border-radius: 100%;
				background: #ffffff none repeat scroll 0 0;
				border: 3px solid #ffffff;
				color: #217695;
				font-size: 48px;
				height: 110px;
				line-height: 110px;
				margin: 3px 25px 3px 3px;
				text-align: center;
				width: 110px;
				position: relative;
				left: 25%;
			}				 

	@mixin	h2{
				text-shadow: 1px 1px #85144b;
				color: #001f3f;
			}

	@mixin p{

			}
		   	


	#coverphoto
	{
		@include background-image(image-url('polls.jpg'));
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px solid black;
		height: 85vh;
		width: 100%;

		h1{
			margin-top: 0.5%;
		    color: white;
		    font-family: trebuchet MS;
		    font-size: -webkit-xxx-large;
		}
	}
	
	.cover-shade
	{
		color: #fff;
		margin-top: 1%;
		width: 20%;
		height: 15vh;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
	}
	
	#resources{
		background-color: #e03838;
		height: 70vh;
		width: 100%;
		$resource-width: 20%;

		#election{
			position: relative;
			top: 50px;
			text-align: center;
			font-size: 50px;
			color: whitesmoke;
		}

		#resources-icons{
			height: 40vh;
			position: relative;
			top: 5%;
			
			#poll-locator{
				width: $resource-width;
				float: left;
				left: 15%;
				top: 50px;
				position: relative;
				i{
					@include i;
				}	
				h2{
					@include h2;
				}	
			}

			#register-vote{
				width: $resource-width;
				float: right;
				right: 39.5%;
				top: 50px;
				position: relative;
				i{
					@include i;
				}	
				
				h2{
					@include h2;
				}	
			}

			#something{
				width: $resource-width;
				float: left;
				left: 45%;
				top: 50px;
				position: relative;
				i{
					@include i;
				}	
				
				h2{
					@include h2;
				}	
			}
		}
	}
}
