.pages#resources
{
	$box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
	$card-margin-width: 20%;
	$card-margin-height: 40vh;
	$card-margin: 25%;
	$margin-top-cards: 2%;
    $whitesmoke: #F5F5F5;

	#coverphoto
	{
		@include background-image(image-url('uscapital.jpg'));
		background-repeat: no-repeat;
		background-size: cover;
		border: 1px;
		height: 72vh;
		width: 100%;
		top: 12%;
	}
	
	.cover-shade
	{
		@include box-shadow(3px 3px 5px 1px #333);
		color: #fff;
		background-color: rgba(0, 0, 0, .3);
		margin-top: 1%;
		width: 20%;
		height: 15vh;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
	}
	
	#search-bar{
		height: 100px;
		width: 100%;
		border: 3px solid #AAAAAA;
    	background-color: #AFAFAF;
		
		.row{
			width: 100%;
			position: relative;
			margin-top: 0.5%;

			.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group	
			{
				height: 80px;
				width: 100px;
				margin-left: 0px;
			}

			.form-control
			{
				height: 80px;
				margin-bottom: 1px;
				margin-left: 3%;
				text-align: center;
				font-size: 50px;
			}
		}
	}

	
	#resources{
		background-color: #5bc0de;
		height: 60vh;
		width: 100%;

		.left
		{
			margin-top: $margin-top-cards;
		    margin-left: $card-margin;
	    }	
		
		#card 
		{   
			@include box-shadow($box-shadow);
			background-color: $whitesmoke;
			width: $card-margin-width;
			height: $card-margin-height;
		}
		
		.card-header
		{
			font-size: 150%;
			text-align: center;
		}
		
	    h5.card-title{
	        color:  #FF0080;
	        margin-left: $card-margin;
	        position: relative;
	    }

	    p.card-text{
	        margin-left: 3%;
	        width: 90%;

	    }

		.btn
		{
			padding: 5%;
			margin-top: 2.5%;
			margin-left: $card-margin;
	        position: relative;
	        width: 130px;
		}
	}
	
	#spacing
	{
		height: 1%;
	}


}
