.pages#resources
{
	$box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
	$margin-top-cards: 2%;
    $whitesmoke: #F5F5F5;
    @mixin 	i{
				border-radius: 100%;
				background: #ffffff none repeat scroll 0 0;
				border: 3px solid #ffffff;
				color: #217695;
				font-size: 48px;
				height: 110px;
				line-height: 110px;
				margin: 3px 25px 3px 3px;
				text-align: center;
				width: 110px;
				position: relative;
				left: 25%;
				transition: all .2s ease-in-out; 
			}
	@mixin grow{transform: scale(1.1);}						 

	@mixin	h2{
				text-shadow: 1px 1px #85144b;
				color: #001f3f;
			}

	@mixin break {
		@include breakpoint(600px){		
			.list{
				@include container;
				margin-top: 5%;
				max-width: 85%;
				@include breakpoint(600px){		
					.resource-topic{
						@include span(3 of 12);
							float: left !important;
		    				margin-left: 7% !important;
						&:last-child{
							@include span(3 of 12 last);
						}
					}
						
				}	
				
				i{	
					@include i;
				}
			}
		}
	}
		   	


	#coverphoto
	{
		@include background-image(image-url('polls.jpg'));
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0 0 5px #000;
		height: 525px;
		width: 100%;

		h1{
			margin-top: 0.5%;
		    color: white;
		    font-family: trebuchet MS;
		    font-size: -webkit-xxx-large;
		}
	}
	
	.cover-shade
	{
		color: #fff;
		width: 20%;
		height: 15vh;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
	}
	
	#resources{
		background-color: #bb0f19;
		overflow: hidden;
		width: 100%;

		#election{
			position: relative;
			top: 10px;
			text-align: center;
			font-size: 37.5px;
			color: whitesmoke;
		}

		@include breakpoint(600px){
			#election{
				font-size: 50px;
			}
		}

		#resources-icons{
			top: 5%;
			position: relative;
			$resource-width: 30%;
				.list{
					max-width: 85%;
					margin-top: 5%;
					
					.resource-topic{
						width: 85%;
						position: relative;
						left: 5%;

					}
				}
						i{
							@include i;
							left: 0%;
						}
						
						i:hover{
							@include grow;
						}

						h2{
							@include h2;
						}
			
				@include breakpoint(600px){		
					@include break;
				}
			
				@media screen and (min-width: 480px){
					@include break;
				}
		}
	}
}


