.pages#resources
{
    $box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    $card-margin-wdith: 20%;
    $card-margin-height: 30vh;
    $card-margin-left: 20%;
    $margin-top-cards: 2%;

    #coverphoto
    {
        height: 100vh;
        width:100%;
        top: 12%;
        background-image: url("uscapital.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .cover-shade
    {
        @include box-shadow(3px 3px 5px 1px #333);
        color: #fff;
        background-color: rgba(0, 0, 0, .3);
        margin-top: 1%;
        width: 20%;
        height: 15vh;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
    

    }
    
    #coverphotoshift
    {
        height: 10%;
    }
    
    .left{
        margin-top: $margin-top-cards;
    }
    
    .right{
        margin-right: 30%;
        margin-top: $margin-top-cards;
    }
    #resources #card 
    {   
        background-color: salmon;
        width: $card-margin-wdith;
        height: $card-margin-height;
        margin-left: $card-margin-left;
        box-shadow: $box-shadow;
    }
    
    #resources #card1 
    {   
        background-color: salmon;
        width: $card-margin-wdith;
        height: $card-margin-height;
        box-shadow: $box-shadow;
    }
    
    #resources .card-header
    {
        font-size: 150%;
        text-align: center;
    }
    
    #resources .btn
    {
        padding: 5%;
        margin-top: 2.5%;
        margin-left: 25%;
    }
    
    
    #spacing
    {
        height: 1%;
    }
    
    #resources
    {
        background-color: #5bc0de;
        height: 65%;
        width: 100%;
    }
    
    
}