.pages#resources
{
    $box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    $card-margin-wdith: 20%;
    $card-margin-height: 35%;
    $card-margin-left: 3%;

    #coverphoto
    {
        height: 90%;
        width:100%;
        position: relative;
        top: 12%;
        background-image: url("/images/lincoln_statue.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    #coverphoto .card 
    {   
        background-color: salmon;
        width: $card-margin-wdith;
        height: $card-margin-height;
        margin-left: $card-margin-left;
        box-shadow: $box-shadow;
    }
    
    #coverphoto .card1 
    {   
        background-color: salmon;
        width: $card-margin-wdith;
        height: $card-margin-height;
        margin-top: 2%;
        margin-left: $card-margin-left;
        box-shadow: $box-shadow;
    }
    
    #coverphoto .card-header
    {
        font-size: 150%;
        text-align: center;
    }
    
    #coverphoto .btn
    {
        padding: 5%;
        margin-top: 2.5%;
        margin-left: 25%;
    }
    
    
    #spacing
    {
        height: 1%;
    }
    
    #resources
    {
        background-color: #5bc0de;
        opacity: 0.95;
        height: 75%;
        width: 100%;
    }
    
    #title-text{
        width: 40%;  
    }
    
    #title-text h1{
        font-size: 72px;
        font-family: sans-serif;
        text-align: center;
        color: whitesmoke;
        text-shadow: 2px 2px #000000;
    }
    
    #carousel
    {
        background-color: crimson;
        height: 30%;
    }
    
    #slider
    {
        width: 90%;
     }   
    
    .slick-slide:focus{
        outline: none;
    }
    
    .slick-slide img{
        height: 200px;
        width: 175px;
    }
}