.pages#resources
{
	$box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
	$margin-top-cards: 2%;
    $whitesmoke: #F5F5F5;
    @mixin 	i{
				border-radius: 100%;
				background: #ffffff none repeat scroll 0 0;
				border: 3px solid #ffffff;
				color: #217695;
				font-size: 48px;
				height: 110px;
				line-height: 110px;
				left: 25%;
				margin: 3px 25px 3px 3px;
				text-align: center;
				width: 110px;
				position: relative;
				transition: all .2s ease-in-out; 
				margin-top: 10px;
			}
	@mixin grow{transform: scale(1.1);}						 

	@mixin	h2{
				color: #001f3f;
				font-weight: 600;
				vertical-align: middle;
    			text-align: center;
			}

	@mixin break {
		@include breakpoint(600px){		
			#list{
				@include container;
    			list-style-type: none;
				@include breakpoint(600px){		
					.resource-topic{
						@include span(3 of 12);
		    			
					}
						
				}	
				
				i{	
					@include i;
				}
			}
		}
	}
		   	


	#coverphoto
	{
		@include background-image(image-url('polls.jpg'));
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0 0 5px #000;
		height: 575px;
		width: 100%;
		padding: 15px;
    	overflow-y: hidden;

		h1{
			margin-top: 0.5%;
		    color: white;
		    font-family: trebuchet MS;
		    font-size: -webkit-xxx-large;
		}
	}
	
	.cover-shade
	{
		color: #fff;
		width: 20%;
		height: 15vh;
		padding: 15px;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
	}
	
	#resources{
		background-color: #bb0f19;
		overflow: hidden;
		width: 100%;

		#election{
			position: relative;
			top: 10px;
			text-align: center;
			font-size: 37.5px;
			color: whitesmoke;
		}

		@include breakpoint(600px){
			#election{
				font-size: 50px;
			}
		}
		
		#list{
			list-style-type: none;
		}

		#resources-icons{
			padding-bottom: 30px;
			$resource-width: 30%;
					.resource-topic{
						left: 5%;
						position: relative;
						margin: 45px;
						background-color: #fff;
    					border-radius: 5%;
					}
				}

		a {
 			color:#001f3f;
		}

		a:hover{
			color: #0074D9;
		}
				
		p{
			margin: 0 0 10px;
    		padding: 15px;
    		vertical-align: middle;
		}
				
		i{
			@include i;
		}
						
		i:hover{
			@include grow;
		}

		h2{
			@include h2;
		}
			
		@include breakpoint(600px){		
			@include break;
		}			
				
		@media screen and (min-width: 480px){
			@include break;
		}
	}
}


