// scss-lint:disable SelectorFormat, MergeableSelector, SelectorDepth
.tweet_map
{
	h1
	{

		i
		{
			color: $twitter;
		}
	}

	p 
	{
		font-size: 14pt;
	}

	#stream-controls 
	{
		@include clearfix;
		
		.btn
		{
			float: right;
		}
	}

	#tweets 
	{
		margin: 15px 0 20px;

		li 
		{
			@include clearfix;
			position: relative;
			padding-left: 96px;
			padding-bottom: 5px;
		}

		.tweet-template
		{
			display: none;
		}

		.profile-picture 
		{
			display: block;
			float: none;
			position: absolute;
			top: 12px;
			left: 10px;
		}

		img
		{
			@include border-radius(8px);
			display: block;
			width: 72px;
			height: 72px;
		}

		.tweet-details 
		{
			float: none;
		}

		.tweet-details h2,
		.tweet-details p 
		{
			margin: 0;
			padding: 0;
		}

		.tweet-details h2
		{
			font-size: 20pt;

			a
			{
				color: $black;
			}

			span
			{
			    color: rgba(0,0,0,0.50);
			    position: relative;
			    font-size: 16pt;
			    top: -3px;
			}
		}

		.tweet-details p
		{
			color: rgba(0, 0, 0, 0.70);
		}

		.tweet-actions 
		{
			margin: 0;
			padding: 0;
		}

		.tweet-actions li 
		{
			display: inline-block;
			padding: 0;
			margin: 0;
			font-size: 16px;
		}

		.tweet-actions li a
		{
			color: rgba(0, 0, 0, 0.2);
			padding: 5px 15px 5px 0;

			&:hover 
			{
				color: rgb(59, 171, 59);
			}
		}
	}
}
