.tweet_stream
{
	h1
	{
		i
		{
			color: $twitter;
		}
	}

	p 
	{
		font-size: 14pt;
	}

	#tweets 
	{
		margin: 20px 0 20px 0;

		li {
			@include clearfix;
		}

		.profile-picture {
			display: block;
			float: left;
			max-width: 100px;
			max-height: 100px;

			img
			{
				@include border-radius(50%);
				display: block;
			}
		}

		.tweet-details {
			float: left;
			padding-left: 20px;

			h2,
			p 
			{
				margin: 0;
				padding: 0;
			}

			h2
			{
				font-size: 20pt;
			}
		}
	}
}
