/* line 106, ../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 21, ../../../usr/local/rvm/gems/ruby-1.9.3-p551/gems/susy-2.2.6/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../assets/stylesheets/core/_global.scss */
body,
html {
  background: #fff;
  color: #000;
}

/* line 15, ../../assets/stylesheets/core/_global.scss */
.wrapper {
  padding: 0 2%;
}

/* line 3, ../../assets/stylesheets/page/_home.scss */
.page#index h1.page-title {
  text-align: center;
}
/* line 7, ../../assets/stylesheets/page/_home.scss */
.page#index h1.page-title span.grey {
  color: #434343;
}
/* line 13, ../../assets/stylesheets/page/_home.scss */
.page#index h1.page-title span.blue {
  color: #0000ff;
}
/* line 21, ../../assets/stylesheets/page/_home.scss */
.page#index p {
  text-align: center;
}

/* line 3, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch p {
  font-size: 14px;
  margin-bottom: 25px;
}
/* line 8, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch p:last-child {
  margin: 0;
}
/* line 13, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch p.group-members {
  text-align: center;
}
/* line 19, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch .list-group {
  margin: 0;
}
/* line 24, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch .list-group-item-text {
  list-style: disc;
}
/* line 29, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch h1.page-title {
  text-align: center;
}
/* line 33, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch h1.page-title span.grey {
  color: #434343;
}
/* line 38, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch h1.page-title span.blue {
  color: #0000ff;
}
/* line 46, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch #carousel .item {
  text-align: center;
}
/* line 51, ../../assets/stylesheets/page/_pitch.scss */
.page#pitch #carousel img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 800px;
}
