header
{
	@include box-shadow(0 1px 2px rgba(0, 0, 0, .06));
	@include clearfix;
	background: $white;
	height: 87px;

	h1 
	{
		margin: 0; padding: 0;

		a
		{
			@include replace-text(image-url('logo.png'));
			display: block;
			background-position: left 15px;
			width: 160px;
			height: 87px;
		}
	}
}
