<%= content_for :title, "Happening Now - List View" %>

<div class="wrapper">
    <h1><i class="fa fa-twitter"></i> Happening Right Now</h1>

    <div class="alert alert-info show" id="tweet-alert">
        <p class="show" id="waiting"><i class="fa fa-circle-o-notch fa-spin"></i> Streaming tweets related to the 2016 presidential election from Twitter...</p>

        <p id="new-tweet"><i class="fa fa-check-circle"></i> New tweet received!</p>

        <p id="paused"><i class="fa fa-pause-circle"></i> Tweet stream paused.</p>
    </div>

    <div id="stream-controls">
        <div class="left btn-group" role="group">
            <a href="/happening-now/list-view" id="list-view" class="btn btn-default"><i class="fa fa-th-list"></i> <span>List View</span></a>
            <a href="/happening-now/map-view" id="map-view" class="btn btn-default"><i class="fa fa-map-marker"></i> <span>Map View</span></a>
        </div>

        <div class="right">
            <button type="button" id="pause" class="btn btn-default"><span>Pause</span> &nbsp;<i class="fa fa-pause"></i>&nbsp;</a>
        </div>
    </div>

    <ul id="tweets" class="list-group">
        <li class="list-group-item tweet-template">
            <a class="profile-picture" target="_blank" href=""><img src="" /></a>

            <div class="tweet-details">
                <div class="clear">
                    <h2 class="handle left"><a target="_blank" href=""></a> <span></span></h2>
                    <p class="timestamp right"><i class="fa fa-clock-o"></i> <span></span></time>
                </div>

                <p class="text"></p>

                <div class="clear">
                    <ul class="tweet-actions left">
                        <li class="reply"><a target="_blank" href=""><i class="fa fa-reply"></i></a></li>
                        <li class="favorite"><a target="_blank" href=""><i class="fa fa-heart"></i></a></li>
                        <li class="retweet"><a target="_blank" href=""><i class="fa fa-retweet"></i></a></li>
                    </ul>

                    <p class="tweet-location right"><i class="fa fa-map-marker"></i> <span>New York, NY</span></p>
                </div>
            </div>
        </li>
    </ul>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "//platform.twitter.com/widgets.js" %>
  <%= javascript_include_tag "tweet_stream.js" %>
<% end %>
