<section id="candidates-container">
    <div class="wrapper">
        <div class="panel">
            <h4 class="panel-heading"><i class="fa fa-black-tie"></i>
                "Candidate Name" </h4>
            <div class="panel-body" id="facebook">
                <img src="img/candidates/profilepic.jpg" alt="This is XXX">
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="panel">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-info"></i>
                             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                             Biography + Main Goals
                             </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                      <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum                              
                        </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-youtube"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Speeches
                             </a>  
                        </h4>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-youtube"></i>
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                          Debates
                         </a>  
                        </h4>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>

                  <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-wiki"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            Wikipedia
                             </a>  
                        </h4>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-twitter"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                            Twitter
                            </a>  
                        </h4>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-news"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                            News
                            </a>  
                        </h4>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h4 class="panel-heading"><i class = "fa fa-reddit"></i>
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                            Reddit
                            </a>  
                        </h4>
                    </div>
                    <div id="collapseSeven" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <img src="https://placehold.it/400x400" alt ="XXX">  
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    <div class="wrapper">
        <div class="panel">
            <h4 class="panel-heading"><i class="fa fa-bar-chart"></i>
                Statistics </h4>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row"> 
                        <div class="col-md-6"> 
                            <img src="https://www.placehold.it/600x300" alt="This is XXX">
                        </div>
                        <div class="col-md-6">
                             <img src="https://www.placehold.it/600x300" alt="This is XXX">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

</section>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "candidates.js" %>
<% end %>