<section id="learn-more">
    <div class="overlay">
        <div class="wrapper">
            <div class="panel panel-default">
                <h4 class="panel-heading"><i class="fa fa-info-circle"></i> Phase 1 Sprint</h4>
                    <div class="panel-body">
                        <p>Click the buttons below to view a demo of each page.</p>

                        <p>
                            <a class="btn btn-danger" target="_blank" href="/pitch">Project Pitch &nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                            <a class="btn btn-primary" target="_blank" href="/happening-now"><i class="fa fa-twitter"></i> 2016 Twitter Stream (WIP)</a>
                            <a class="btn btn-primary" target="_blank" href="/map"><i class="fa fa-group"></i> 2016 Candidates (WIP)</a>
                            <a class="btn btn-primary" target="_blank" href="/candidates/genericcandidate"><i class="fa fa-user"></i> Candidate Profile (WIP)</a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</section>