<section id="learn-more">
    <div class="overlay">
        <div class="wrapper">
            <div class="panel panel-default">
                <h4 class="panel-heading"><i class="fa fa-info-circle"></i> Phase 2 Sprint</h4>
                    <div class="panel-body">
                        <p>Click the buttons below to view a demo of each page.</p>

                        <p>
                            <a class="btn btn-danger" target="_blank" href="/pitch">Project Pitch &nbsp;<i class="fa fa-chevron-circle-right"></i></a>
                            <a class="btn btn-primary" target="_blank" href="/happening-now"><i class="fa fa-twitter"></i> 2016 Twitter Stream (Map View)</a>
                            <a class="btn btn-primary" target="_blank" href="/happening-now/list-view"><i class="fa fa-twitter"></i> 2016 Twitter Stream (List View)</a>
                            <a class="btn btn-primary" target="_blank" href="/candidates/berniesanders"><i class="fa fa-user"></i> Bernie Sanders</a>
                            <a class="btn btn-primary" target="_blank" href="/candidates/hillaryclinton"><i class="fa fa-user"></i> Hillary Clinton</a>
                            <a class="btn btn-primary" target="_blank" href="/candidates/donaldtrump"><i class="fa fa-user"></i> Donald Trump</a>
                            <a class="btn btn-primary" target="_blank" href="/candidates/berniesanders"><i class="fa fa-user"></i> Bernie Sanders</a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</section>