<!--		<script>
	jQuery(document).ready(function(){
		jQuery("#vmap").vectorMap({
    		map: 'usa_en',
    		backgroundColor: null,
			borderColor: '#818181',
			borderOpacity: 0.25,	
    		color: '#B31B1B',
    		hoverColor: '#999999',
			selectedColor: '#666666',
		});
	});
</script>
	<center> <div id="vmap" style="width: 700px; height: 450px;"></div> </center> !-->
<script>
function initMap() {
      var nebraska = new google.maps.LatLng(41.2324, -98.4160);

      var map = new google.maps.Map(document.getElementById('map'), {
        center: nebraska,
        zoom: 4
      });
}
</script>
<div id = "map"></div>
<div id = "footer">
	<div id = "candidatesCarousel" class = "carousel slide">
		<ol class = "carousel-indicators">	
			<li data-target = "#candidatesCarousel" data-slide-to = "0" class="active"> </li>
			<li data-target = "#candidatesCarousel" data-slide-to = "1"> </li>
			<li data-target = "#candidatesCarousel" data-slide-to = "2"> </li>

        </ol>

		<div class = "carousel-inner">
			<div class = "item active">
				<div class = "row">
					<div class = "col-md-2">
						<div id = "Bernie"> 
						<a href = "../candidates/berniesanders">
							<img title="Bernie Sanders" alt="Bernie Sanders" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Bernie_Sanders_1786280.jpg" style="max-width:500px;" width="160px" height="160px" class="">
						</a>
						</div>
					</div>

					<div class = "col-md-2">
						<div id = "Donald">
						<a href = "../candidates/berniesanders">
							<img title="Donald Trump" alt="Donald Trump" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Donald_Trump_6522122.jpg" style="max-width:338px;" width="160px" height="160px" class="">
						</a>
						</div>
					</div>

					<div class = "col-md-2">
						<div id = "Hilary">
							<a href = "../candidates/berniesanders">
							<img title="Hillary Clinton" alt="Hillary Clinton" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Hillary_Clinton_1786283.jpg" style="max-width:338px;" width="160px" height="160px" class="">
							</a>
						</div>
					</div>

					<div class ="col-md-2">
						<div id = "Jeb">
							<a href = "../candidates/berniesanders">
							<img title="Jeb Bush" alt="Jeb Bush" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Jeb_Bush_1786288.jpg" style="max-width:338px;" width="160px" height="160px" class="">
							</a>
						</div>
					</div>

					<div class = "col-md-2">
						<div id = "Rand">
						<a href = "../candidates/berniesanders">
							<img title="Rand Paul" alt="Rand Paul" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Rand_Paul_5645560.jpg" style="max-width:338px;" width="160px" height="160px" class="">
							</a>
						</div>
					</div>

					<div class = "col-md-2">
						<div id = "Chris">
						<a href = "../candidates/berniesanders">
							<img title="Chris Christie" alt="Chris Christie" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Chris_Christie_1786282.jpg" style="max-width:388px;" width="160pxx" height="160px" class="">
						</a>
						</div>
					</div>
				</div>
            </div>

			<div class = "item">
					<div class = "row">

					<div class = "col-md-2">	
						<div id = "Ben">
							<a href = "../candidates/berniesanders">
							<img title="Ben Carson" alt="Ben Carson" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Ben_Carson_6036997.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>
						</div>
					 </div>

					<div class = "col-md-2">	
						<div id = "Marco">
							<a href = "../candidates/berniesanders">
							<img title="Marco Rubio" alt="Marco Rubio" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Marco_Rubio_1786292.jpg" style="max-width:388px;" width="160px" height="160px" class="">
						</a>
						</div>
					 </div>

					<div class = "col-md-2">	
						<div id = "Mike">
							<a href = "../candidates/berniesanders">
							<img title="Mike Huckabee" alt="Mike Huckabee" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Mike_Huckabee_1786294.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>
						</div>
					 </div>

					<div class = "col-md-2">	
						<div id = "Carly">
							<a href = "../candidates/berniesanders">
							<img title="Carly Fiorina" alt="Carly Fiorina" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Carly_Fiorina_6036992.jpg" style="max-width:388px;" width="160px" height="160px" class="">
						</a>
						</div>
					 </div>

					<div class = "col-md-2">	
						<div id = "Ted">
							<a href = "../candidates/berniesanders">
							<img title="Ted Cruz" alt="Ted Cruz" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Ted_Cruz_1786303.jpg" style="max-width:388px;" width="160px" height="160px" class="">
						</a>
						</div>
					 </div>


					<div class = "col-md-2">	
						<div id = "Rick">
							<a href = "../candidates/berniesanders">
							<img title="Rick Santorum" alt="Rick Santorum" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Rick_Santorum_1786299.jpg" style="max-width:388px;" width="160px" height="160px" class="">
						</a>
						</div>
					 </div>
				</div>
			</div>

			<div class = "item">
				<div class = "row">
					<div class = "col-md-2">
						<div id = "Lincoln">
							<a href = "../candidates/berniesanders">
								<img title= "Lincoln Chafee" alt = "Lincoln Chafee" src = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Lincoln_Chafee_6387900.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
					<div class = "col-md-2">
						<div id = "Martin">
							<a href = "../candidates/berniesanders">
								<img title= "Martin O'Malley" alt = "Martin O'Malley" src = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Martin_OMalley_1786293.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
					<div class = "col-md-2">
						<div id = "Jim">
							<a href = "../candidates/berniesanders">
								<img title= "Jim Gilmore" alt = "Jim Gilmore" src = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Jim_Gilmore_6638843.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
					<div class = "col-md-2">
						<div id = "Bobby">
							<a href = "../candidates/berniesanders">
								<img title= "Bobby Jindal" alt = "Bobby Jindal" src = "https://s.graphiq.com/sites/default/files/980/media/images/t2/Bobby_Jindal_1786297.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
					<div class = "col-md-2">
						<div id = "Jill">
							<a href = "../candidates/berniesanders">
								<img title= "Jill Stein" alt = "Jill Stein" src = "https://s3.graphiq.com/sites/default/files/980/media/images/t2/Jill_Stein_1786255.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
					<div class = "col-md-2">
						<div id = "John">
							<a href = "../candidates/berniesanders">
								<img title= "John Kasich" alt = "John Kasich" src = "https://s.graphiq.com/sites/default/files/980/media/images/t2/John_Kasich_1786289.jpg" style="max-width:388px;" width="160px" height="160px" class="">
							</a>	
						</div>
					</div>
				</div>
			</div>	
	</div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap"asyncdefer>
</script>   
    

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "map.js" %>
<% end %>
