		<script>
	jQuery(document).ready(function(){
		jQuery("#vmap").vectorMap({
    		map: 'usa_en',
    		backgroundColor: null,
		borderColor: '#818181',
		borderOpacity: 0.25,	
    		color: '#B31B1B',
    		hoverColor: '#999999',
		selectedColor: '#666666',
   		enableZoom: true,
    		showTooltip: true,
		});
	});
</script>
	<center> <div id="vmap" style="width: 800px; height: 500px;"></div> </center>

<!---Carousel goes here -->
<div id = "candidatesCarousel" class = "carousel slide">
	<ol class = "carousel-indicators">	
		<li data-target = "#candidatesCarousel" data-slide-to = "0" class="active"> </li>
		<li data-target = "#candidatesCarousel" data-slide-to = "1"> </li>
	</ol>
</div>

<div class = "carousel-inner">
	<div class = "item active"
		<div class = "row">
			<div class = "col-md-2">
				<div id = "Bernie"> 
					<img title="Bernie Sanders" alt="Bernie Sanders" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Bernie_Sanders_1786280.jpg" style="max-width:338px;" width="135px" height="160px" class="">
				</div>
			</div>

			<div class = "col-md-2">
				<div id = "Donald">
					<img title="Donald Trump" alt="Donald Trump" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Donald_Trump_6522122.jpg" style="max-width:338px;" width="135px" height="160px" class="">
				</div>
			</div>

			<div class = "col-md-2">
				<div id = "Hilary">
					<img title="Hillary Clinton" alt="Hillary Clinton" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Hillary_Clinton_1786283.jpg" style="max-width:338px;" width="135px" height="160px" class="">
				</div>
			</div>

			<div class ="col-md-2">
				<div id = "Jeb">
					<img title="Jeb Bush" alt="Jeb Bush" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Jeb_Bush_1786288.jpg" style="max-width:338px;" width="135px" height="160px" class="">
				</div>
			</div>

			<div class = "col-md-2">
				<div id = "Rand">
					<img title="Rand Paul" alt="Rand Paul" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Rand_Paul_5645560.jpg" style="max-width:338px;" width="135x" height="160px" class="">
				</div>
			</div>

			<div class = "col-md-2">
				<div id = "Chris">
					<img title="Chris Christie" alt="Chris Christie" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Chris_Christie_1786282.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			</div>
		</div>
	

	<div class = "item">
			<div class = "row">

			<div class = "col-md-2">	
				<div id = "Ben">
					<img title="Ben Carson" alt="Ben Carson" src="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Ben_Carson_6036997.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>

			<div class = "col-md-2">	
				<div id = "Marco">
					<img title="Marco Rubio" alt="Marco Rubio" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Marco_Rubio_1786292.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>

			<div class = "col-md-2">	
				<div id = "Mike">
					<img title="Mike Huckabee" alt="Mike Huckabee" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Mike_Huckabee_1786294.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>

			<div class = "col-md-2">	
				<div id = "Carly">
					<img title="Carly Fiorina" alt="Carly Fiorina" src="https://s.graphiq.com/sites/default/files/980/media/images/t2/Carly_Fiorina_6036992.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>

			<div class = "col-md-2">	
				<div id = "Ted">
					<img title="Ted Cruz" alt="Ted Cruz" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Ted_Cruz_1786303.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>


			<div class = "col-md-2">	
				<div id = "Rick">
					<img title="Rick Santorum" alt="Rick Santorum" src="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Rick_Santorum_1786299.jpg" style="max-width:388px;" width="135px" height="160px" class="">
				</div>
			 </div>
		</div>
	</div>	
</div>

<a class = "carousel-control" href = "#candidatesCarousel" data-slide = "prev">
<span class = "icon-prev"> </span>
</a>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "map.js" %>
<% end %>
