<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
<center>
<div id ="slider">
<div class ="presidential-candidates">
  <div><h3>1</h3></div>
  <div><h3>2</h3></div>
  <div><h3>3</h3></div>
  <div><h3>4</h3></div>
  <div><h3>5</h3></div>
  <div><h3>6</h3></div>
  <div><h3>11</h3></div>
  <div><h3>21</h3></div>
  <div><h3>31</h3></div>
  <div><h3>41</h3></div>
  <div><h3>51</h3></div>
  <div><h3>61</h3></div>
</center>

<% content_for :javascript_includes do %>
<%= javascript_include_tag "map.js" %>
<% end %> 