<section id="coverphoto">
    <center>
        <div class="cover-shade">
            <h1>Resources</h1>
        </div>
    </center>
</section>

<section id ="resources">
<div id = "election"> <b>Don't Forget to Vote on <font color ="#001f3f"> November 8, 2016 </font> </b> </div>
<div id = "resources-icons">
    <div id = "poll-locator">
        <a href="http://nyc.pollsitelocator.com/search"> 
             <i class="fa fa-search hvr-grow"></i>
        </a>
         <h2> Find a Voting Poll Near You!</h2>
        <p> Navigate to NYC poll site locator by clicking the button below. 
        Enter your address to find a public school near you where you can vote for your next president on election day!</p>
    </div>

    <div id = "register-vote">
            <a href="http://www.elections.ny.gov/VotingRegister.html"> 
                 <i class="fa fa-envelope-o"></i>
            </a>
             <h2> Register to Vote!</h2>
            <p> Head over to the Board of Elections to download a registration form. Once you fill out the form you can mail it to your local board of elections office.</p>
    </div>

    <div id = "something">
            <a href="http://dmv.ny.gov/more-info/electronic-voter-registration-application"> 
                 <i class="fa fa-hand-paper-o"></i>
            </a>
             <h2> Did You Know You can Vote Electronically? </h2>
            <p> If you rather vote for your next president from the comfort of your home head over to myDMV to learn how. </p>
    </div>
</div>

</section>

<p> Go here <%= request.location.city %> </p> 

<section id = "carousel">
    <center>
<div id ="slider">
    <div class ="presidential-candidates">
      <div> 
       <a href = "../candidates/berniesanders">
       <img title="Bernie Sanders" alt="Bernie Sanders" data-lazy="https://s.graphiq.com/sites/default/files/980/media/images/t2/Bernie_Sanders_1786280.jpg">
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Donald Trump" alt="Donald Trump" data-lazy="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Donald_Trump_6522122.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Hillary Clinton" alt="Hillary Clinton" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Hillary_Clinton_1786283.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Jeb Bush" alt="Jeb Bush" data-lazy="https://s.graphiq.com/sites/default/files/980/media/images/t2/Jeb_Bush_1786288.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Rand Paul" alt="Rand Paul" data-lazy="https://s.graphiq.com/sites/default/files/980/media/images/t2/Rand_Paul_5645560.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Chris Christie" alt="Chris Christie" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Chris_Christie_1786282.jpg">
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Ben Carson" alt="Ben Carson" data-lazy="https://s2.graphiq.com/sites/default/files/980/media/images/t2/Ben_Carson_6036997.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Marco Rubio" alt="Marco Rubio" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Marco_Rubio_1786292.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Mike Huckabee" alt="Mike Huckabee" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Mike_Huckabee_1786294.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Carly Fiorina" alt="Carly Fiorina" data-lazy="https://s.graphiq.com/sites/default/files/980/media/images/t2/Carly_Fiorina_6036992.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Ted Cruz" alt="Ted Cruz" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Ted_Cruz_1786303.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title="Rick Santorum" alt="Rick Santorum" data-lazy="https://s3.graphiq.com/sites/default/files/980/media/images/t2/Rick_Santorum_1786299.jpg" >
       </a>
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "Lincoln Chafee" alt = "Lincoln Chafee" data-lazy = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Lincoln_Chafee_6387900.jpg" >
       </a> 
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "Martin O'Malley" alt = "Martin O'Malley" data-lazy = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Martin_OMalley_1786293.jpg" >
       </a> 
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "Jim Gilmore" alt = "Jim Gilmore" data-lazy = "https://s2.graphiq.com/sites/default/files/980/media/images/t2/Jim_Gilmore_6638843.jpg" >
       </a> 
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "Bobby Jindal" alt = "Bobby Jindal" data-lazy = "https://s.graphiq.com/sites/default/files/980/media/images/t2/Bobby_Jindal_1786297.jpg" >
       </a> 
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "Jill Stein" alt = "Jill Stein" data-lazy = "https://s3.graphiq.com/sites/default/files/980/media/images/t2/Jill_Stein_1786255.jpg" >
       </a> 
    </div>
    <div>
       <a href = "../candidates/berniesanders">
       <img title= "John Kasich" alt = "John Kasich" data-lazy = "https://s.graphiq.com/sites/default/files/980/media/images/t2/John_Kasich_1786289.jpg" >
       </a> 
    </div>
</div>  
</div>
</center>
</section>
<% content_for :javascript_includes do %>
<%= javascript_include_tag "map.js" %>
<% end %> 


