<section id="coverphoto">
    <div id="spacing"></div>
    <center>
        <div id="title-text">
            <h1>Resources</h1>
        </div>
    </center>
    <div class="card">
        <div class = "card-header">
            Where Do I Vote?
        </div>
        <div class="card-block">
            <h5 class="card-title">Good Question!</h5>
            <p class="card-text">Kudos to you for taking action in your government! I guess we know who'll be voting</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card1">
        <div class = "card-header">
            Am I old enough to vote?
        </div>
        <div class="card-block">
            <h5 class="card-title">Good Question!</h5>
            <p class="card-text">You must be 18 or older to vote in the U.S</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>

  
<section id ="resources">
</section>

