<section id="coverphoto">
    <center>
        <div class="cover-shade">
            <h1>Resources</h1>
        </div>
    </center>
</section>

<section id ="resources">
<div id = "election"> <b>Don't Forget to Vote on <font color ="#001f3f"> November 8, 2016 </font> </b> </div>
<div id = "resources-icons">
    <div id = "poll-locator">
        <a href="http://nyc.pollsitelocator.com/search"> 
             <i class="fa fa-search hvr-grow"></i>
        </a>
         <h2> Find a Voting Poll Near You!</h2>
        <p> Navigate to NYC poll site locator by clicking the button below. 
        Enter your address to find a public school near you where you can vote for your next president on election day!</p>
    </div>

    <div id = "register-vote">
            <a href="http://dmv.ny.gov/more-info/electronic-voter-registration-application"> 
                 <i class="fa fa-envelope-o"></i>
            </a>
             <h2> &nbsp; &nbsp; &nbsp; Register to Vote!</h2>
            <p> Head over to the DMV website to register. 
            Enter your address to find a public school near you where you can vote for your next president on election day!</p>
    </div>

    <div id = "something">
            <a href="http://dmv.ny.gov/more-info/motor-voter-faqs"> 
                 <i class="fa fa-hand-paper-o"></i>
            </a>
             <h2> Did You Know You can Vote Electronically? </h2>
            <p> Navigate to NYC poll site locator by clicking the button below. 
            Enter your address to find a public school near you where you can vote for your next president on election day!</p>
    </div>
</div>

</section>

