<section id="coverphoto">
    <div id="spacing"></div>
    <center>
        <div class="cover-shade">
            <h1>Resources</h1>
        </div>
    </center>
</section>

  
<section id ="resources">
  <div class="left" id ="card">
        <div class = "card-header">
            Where Do I Register to Vote?
        </div>
        <div class="card-block">
            <h5 class="card-title">Good Question!</h5>
            <p class="card-text">Kudos to you for taking action in your government! I guess we know who'll be voting.
            You can register to vote online at the DMV site!</p>
            <a href="http://dmv.ny.gov/more-info/electronic-voter-registration-application" class="btn btn-primary">Register</a>
        </div>
    </div>

    <div class="right" id ="card1">
        <div class = "card-header">
            Where Do I Actually Vote?
        </div>
        <div class="card-block">
            <h5 class="card-title">Good Question!</h5>
            <p class="card-text">You vote in your election district. Click below and enter your address on the site to see where that is for you.</p>
            <a href="http://nyc.pollsitelocator.com/search" class="btn btn-primary">Find Your District</a>
        </div>
    </div>
</section>

