
<section id="coverphoto">
<div id = "spacing"> </div>
<center>
  <div id="title-text"> 
  <h1> Resources </h1>
  </div>
 </center>
</section>
  
<section id ="resources">
</section>

<section id ="links">
</section>