<section id="candidates-container">
          
  <div class="panel-cover" id="bernie">
    <div class="panel-cover-information">
      <h1><%= @candidateName %> </h1>
    </div>
  </div>

  <div class="panel-cover" id="bernieinfo">
    <div class="transparentoverlay">
      <div class="panel-cover-information">
        <h1><%= @candidateName %> on the ISSUES </h1>
        <div class ="row">
          <div class="col-md-4">
            Lorem ipsom
          </div>
          <div class="col-md-4">
            Lorem ipsom
          </div>
          <div class="col-md-4">
            Lorem ipsom
          </div>
        </div>
      
      </div>
    </div>
  </div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "candidates.js" %>
<% end %>