// ========================================================================== //
// UBVoting Global Styles
// ========================================================================== //

@include establish-baseline;
@include border-box-sizing;

body, 
html 
{
	background: $white;
	color: $black;
}

.wrapper 
{
	padding: 0 2%;
}
