// ========================================================================== //
// UBVoting Global Styles
// ========================================================================== //

@include establish-baseline;
@include border-box-sizing;

body, 
html
{
	background: $concrete;
	color: $black;
	font-family: $primary-serif;
}

.wrapper 
{
	padding: 0 2%;
}

.content 
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo
{
	text-align: center;
	font-family: $primary-sans;

	.grey
	{
		color: #434343;
	}

	.blue
	{
		color: #0000ff;
	}
}
