// ========================================================================== //
// UBVoting Global Styles
// ========================================================================== //

@include establish-baseline;
@include border-box-sizing;

body, 
html 
{
	background: $white;
	color: $black;
}

.wrapper 
{
	padding: 0 2%;
}

.logo
{
	text-align: center;

	.grey
	{
		color: #434343;
	}

	.blue
	{
		color: #0000ff;
	}
}
