header
{
	@include box-shadow(0 1px 2px rgba(0, 0, 0, .06));
	@include legacy-pie-clearfix;

	background: $white;
	height: 87px;

	.btn 
	{
		float: right;
		margin: 22px 5px;

		font-weight: bold;
		font-family: $primary-sans;
		
		&:first-child
		{
			margin-right: 0;
		}
	}

	.dropdown-menu
	{
		margin-top: 75px;

	}


	h1 
	{
		float: left;
		margin: 0; padding: 0;

		a
		{
			@include retina-background(logo, no-repeat left 15px);
			text-indent: -9999px;
			display: block;
			width: 160px;
			height: 87px;
		}
	}
}
