header
{
	@include box-shadow(0 1px 2px rgba(0, 0, 0, .06));
	@include legacy-pie-clearfix;

	background: $white;
	height: $header-height;

	&.headroom
	{
		transition: transform 200ms linear;
	}

	&.headroom--pinned 
	{
		@include transform(translateY(0%));
	}

	&.headroom--unpinned
	{
		@include transform(translateY(-100%));
	}

	.btn 
	{
		float: right;
		margin: 22px 5px;

		font-weight: bold;
		font-family: $primary-sans;
	}

	.dropdown 
	{
		float: right;
	}

	.dropdown-menu
	{
		margin-top: 70px;
		padding-top: 0;
		padding-bottom: 0;
		top: 0;
		left: 5px;

		li
		{
			border-bottom: 1px solid rgba(0, 0, 0, .17);
		}

		a
		{
			@include clearfix;
			padding: 10px 20px;
			width: 300px;
			font-weight: bold;
			font-size: 13pt;
		}

		img.portrait,
	    .name
	    {
			@include inline-block;
			margin: 0;
			padding: 0;
	    }

		img.portrait
		{
			@include box-shadow(none);
			width: 75px;
			height: 75px;
			margin: 0 15px 0 0;

			&.republican
			{
				border: 3px solid #db1f29;
			}

			&.democrat
			{
				border: 3px solid #1490ed;
			}
		}

		.name
		{
			line-height: 50px;
		}
	}


	h1 
	{
		float: left;
		margin: 0; padding: 0;

		a
		{
			@include retina-background(logo, no-repeat left 15px);
			text-indent: -9999px;
			display: block;
			width: 160px;
			height: 87px;
		}
	}
}
