// ========================================================================== //
// Description: UBVoting Website
// 
// Summary:
// 
// 	0. CORE
// 		Compass, Susy, Breakpoint, and general layout styles.
//	1. VENDOR PROVIDED
//		3rd party vendor provided mixins.
// 	2. MODULE
//		Re-usable element styles.
//	3. PAGE
//		Page specific styles.
// ========================================================================== //

// ========================================================================== //
//  0. CORE
// ========================================================================== //
@import 'susy';
@import 'compass';
//@import 'compass/reset';
@import 'compass/css3';
@import 'breakpoint';
@import 'core/variables';
@import 'core/fonts';
@import 'core/mixins';
@import 'core/global';

// ========================================================================== //
//  1. VENDOR PROVIDED
// ========================================================================== //
@import 'vendor/retina';

// ========================================================================== //
//  2. MODULES
// ========================================================================== //
@import 'module/header';
@import 'module/footer';

// ========================================================================== //
//  3. PAGES
// ========================================================================== //
@import 'page/home';
@import 'page/pitch';
@import 'page/events';
@import 'page/candidates';
@import 'page/tweet_map';
@import 'page/map';
