@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
/* line 106, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 21, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/susy-2.2.6/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../app/assets/stylesheets/core/_global.scss */
body,
html {
  background: #f2f2f2;
  color: #000;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

/* line 18, ../../app/assets/stylesheets/core/_global.scss */
.wrapper {
  padding: 0 2%;
}

/* line 23, ../../app/assets/stylesheets/core/_global.scss */
.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 29, ../../app/assets/stylesheets/core/_global.scss */
.logo {
  text-align: center;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* line 34, ../../app/assets/stylesheets/core/_global.scss */
.logo .grey {
  color: #434343;
}
/* line 39, ../../app/assets/stylesheets/core/_global.scss */
.logo .blue {
  color: #0000ff;
}

/* line 45, ../../app/assets/stylesheets/core/_global.scss */
.btn {
  padding: 10px;
}

/**
 * Wraps any styles in a retina media query.
 */
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Option variable to define the spacing between images in the generated sprite
 */
/**
 * A mixin to create retina sprites with hover & active states
 *
 * You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
 *
 *     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
 *
 *     .my-icon {
 *       @include retina-sprite(icon-name, icons);
 *     }
 *
 * @param {String} $name
 * @param {String} [$sprite-name]
 * @param {Boolean} [$hover=false]
 * @param {Boolean} [$active=false]
 */
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Mixin for retina backgrounds where you can't use a sprite.
 *
 * - Make sure you have a file@2x.png file additional to your file.png.
 * - The mixin prepends $imgPath, which should be set globally at some point. Default is: "img/"
 *
 * Examples:
 *     li {
 *       @include retina-background(arrow, no-repeat 10px 15px)
 *     }
 *
 *     a.external {
 *       @include retina-background(external, no-repeat right)
 *     }
 *
 * @param {String} $file Path to file relative to images folder defined in config.rb and without a file extension
 * @param {Object} [$attr] Additional attributes like position or repetition. E.g. `no-repeat top right`
 * @param {String} [$type] The file type.
 */
/* line 1, ../../app/assets/stylesheets/module/_header.scss */
header {
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  *zoom: 1;
  background: #fff;
  height: 87px;
}
/* line 8, ../../app/assets/stylesheets/module/_header.scss */
header .btn {
  float: right;
  margin: 22px 5px;
  font-weight: bold;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* line 15, ../../app/assets/stylesheets/module/_header.scss */
header .btn:first-child {
  margin-right: 0;
}
/* line 21, ../../app/assets/stylesheets/module/_header.scss */
header h1 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 26, ../../app/assets/stylesheets/module/_header.scss */
header h1 a {
  background: no-repeat left 15px;
  background-image: url('../images/logo32c3.png?1443480061');
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  text-indent: -9999px;
  display: block;
  width: 160px;
  height: 87px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 26, ../../app/assets/stylesheets/module/_header.scss */
  header h1 a {
    background-image: url('../images/logo%402xbc1e.png?1443480068');
    background-size: 160px 52px;
  }
}

/* line 1, ../../app/assets/stylesheets/page/_home.scss */
.pages#home {
  display: table;
}
/* line 5, ../../app/assets/stylesheets/page/_home.scss */
.pages#home section#learn-more {
  background-image: url('../images/usaflage6bc.png?1443480067');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: table-row;
  height: 100%;
}
/* line 12, ../../app/assets/stylesheets/page/_home.scss */
.pages#home section#learn-more .overlay {
  -moz-box-shadow: inset 0 1px 5px #000;
  -webkit-box-shadow: inset 0 1px 5px #000;
  box-shadow: inset 0 1px 5px #000;
  background-color: rgba(20, 40, 64, 0.75);
  border-top: 1px solid #d2d2d2;
  display: table-cell;
  vertical-align: middle;
}
/* line 22, ../../app/assets/stylesheets/page/_home.scss */
.pages#home p {
  text-align: left;
}
/* line 27, ../../app/assets/stylesheets/page/_home.scss */
.pages#home .panel {
  font-size: 14px;
}
/* line 31, ../../app/assets/stylesheets/page/_home.scss */
.pages#home .panel .panel-heading {
  font-size: 18pt;
  background-color: #d2d2d2;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}
/* line 40, ../../app/assets/stylesheets/page/_home.scss */
.pages#home .panel .btn {
  margin: 5px 8px 0 0;
}

/* line 1, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch {
  background-color: #fff;
}
/* line 5, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch .logo {
  margin-top: 0;
  padding-top: 20px;
}
/* line 11, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch p {
  font-size: 14px;
  margin-bottom: 25px;
}
/* line 16, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch p:last-child {
  margin: 0;
}
/* line 21, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch p.group-members {
  text-align: center;
  padding: 30px 0 0;
}
/* line 28, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch .list-group {
  margin: 0;
}
/* line 33, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch .list-group-item-text {
  list-style: disc;
}
/* line 40, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch #carousel .item {
  text-align: center;
}
/* line 45, ../../app/assets/stylesheets/page/_pitch.scss */
.pages#pitch #carousel img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 800px;
}

/* line 3, ../../app/assets/stylesheets/page/_events.scss */
.pages#events section#events-calendar {
  background-color: #f23e3d;
  padding: 20px 0;
}
/* line 8, ../../app/assets/stylesheets/page/_events.scss */
.pages#events section#events-calendar #calendar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}

/* line 1, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates {
  display: table;
}
/* line 5, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container {
  background-image: url('../images/usaflage6bc.png?1443480067');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 11, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container .wrapper {
  padding-top: 12px;
}
/* line 16, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container .overlay {
  -moz-box-shadow: inset 0 1px 5px #000;
  -webkit-box-shadow: inset 0 1px 5px #000;
  box-shadow: inset 0 1px 5px #000;
  background-color: rgba(20, 40, 64, 0.75);
  border-top: 1px solid #d2d2d2;
  vertical-align: middle;
}
/* line 24, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container .panel {
  font-size: 14px;
}
/* line 29, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container .panel-heading {
  font-size: 18pt;
  background-color: #d2d2d2;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 5px;
}
/* line 38, ../../app/assets/stylesheets/page/_candidates.scss */
.pages#candidates section#candidates-container .panel-body#facebook {
  background-image: url('../images/coverphoto.html');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 7, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream h1 i {
  color: #5ea9dd;
}
/* line 13, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream p {
  font-size: 14pt;
}
/* line 18, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets {
  padding: 15px 0 20px;
}
/* line 22, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets li {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding-left: 68px;
}
/* line 29, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets .profile-picture {
  display: block;
  float: none;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -24px;
}
/* line 39, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  max-width: 48px;
  max-height: 48px;
}
/* line 47, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets .tweet-details {
  float: none;
}
/* line 52, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets .tweet-details h2,
.tweet_stream #tweets .tweet-details p {
  margin: 0;
  padding: 0;
}
/* line 59, ../../app/assets/stylesheets/page/_tweet_stream.scss */
.tweet_stream #tweets .tweet-details h2 {
  font-size: 20pt;
}

/* line 4, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_co {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 14, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_co:hover {
  fill: #818181;
}
/* line 19, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ca {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 29, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ca:hover {
  fill: #818181;
}
/* line 34, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ct {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 44, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ct:hover {
  fill: #818181;
}
/* line 49, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_dc {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 59, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_dc:hover {
  fill: #818181;
}
/* line 64, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_de {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 74, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_de:hover {
  fill: #818181;
}
/* line 79, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ky {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 89, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_hi {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 99, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_hi:hover {
  fill: #818181;
}
/* line 104, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ky:hover {
  fill: #818181;
}
/* line 109, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mo {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 119, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mo:hover {
  fill: #818181;
}
/* line 124, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mt {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 134, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mt:hover {
  fill: #818181;
}
/* line 139, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mn {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 149, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_mn:hover {
  fill: #818181;
}
/* line 154, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_nh {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 164, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_nh:hover {
  fill: #818181;
}
/* line 169, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ny {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 179, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ny:hover {
  fill: #818181;
}
/* line 184, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_or {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 194, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_or:hover {
  fill: #818181;
}
/* line 199, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_pa {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 209, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_pa:hover {
  fill: #818181;
}
/* line 214, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_wa {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 224, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ri {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 234, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_ri:hover {
  fill: #818181;
}
/* line 239, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_wa:hover {
  fill: #818181;
}
/* line 243, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_wv {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 252, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_wv:hover {
  fill: #818181;
}
/* line 256, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_va {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 265, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_va:hover {
  fill: #818181;
}
/* line 268, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_vt {
  stroke: #818181;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: .25;
  fill: #00346b;
}
/* line 277, ../../app/assets/stylesheets/page/_map.scss */
.pages#map path#jqvmap1_vt:hover {
  fill: #818181;
}
/* line 281, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Bernie {
  float: left;
  margin-left: 180px;
}
/* line 286, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Donald {
  float: left;
  margin-left: 30px;
}
/* line 291, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Hilary {
  float: left;
  margin-left: 30px;
}
/* line 296, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Jeb {
  float: left;
  margin-left: 15px;
}
/* line 301, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Rand {
  float: left;
  margin-left: -38px;
}
/* line 306, ../../app/assets/stylesheets/page/_map.scss */
.pages#map #Chris {
  float: left;
  margin-left: -90px;
}
